<!-- converts bag file to raw iamge -->

<launch>
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=/usb_cam_center/image_raw raw out:=/usb_cam_center/image_raw" />

  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=/usb_cam_right/image_raw raw out:=/usb_cam_right/image_raw" />

  <node name="republish3" type="republish" pkg="image_transport" output="screen" args="compressed in:=/usb_cam_left/image_raw raw out:=/usb_cam_left/image_raw" />
    <!-- Create a directory for saving raw images -->
    <param name="extracted_imgs" command="mkdir -m 777 -p /home/yyajima/Desktop/igvc_files" />

  <node pkg="rosbag" type="play" name="rosbag" args="-r 10 /media/yyajima/RJ-HDD-01/IGVC/JESSII_RUN_SUN_2_2019-06-10-15-18-43.bag"/>

  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="node">
    <remap from="image" to="/usb_cam_center/image_raw"/>
    <param name="filename_format" value="/home/yyajima/Desktop/igvc_files/center_frame%06i.png"/>
  </node>
  
  <node name="extract2" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="node">
    <remap from="image" to="/usb_cam_right/image_raw"/>
    <param name="filename_format" value="/home/yyajima/Desktop/igvc_files/right_frame%06i.png"/>
  </node>

  <node name="extract3" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="node">
    <remap from="image" to="/usb_cam_left/image_raw"/>
    <param name="filename_format" value="/home/yyajima/Desktop/igvc_files/left_frame%06i.png"/>
  </node>

</launch>
