# Text file containing list of paths to training/testing images.
# Example: /media/justin_zheng/OS/Data/igvc/3-2/train.txt
train = /home/yyajima/Desktop/sample_igvc_data/train.txt
test  = /home/yyajima/Desktop/sample_igvc_data/test.txt

# Directory for saving model checkpoints during training.
backup = /home/yyajima/Desktop/sample_igvc_data/backup

